*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: blanchedalmond;
}
nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 3rem;
}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
.logo {
  font-size: 2rem;
  margin-right: 3rem;
  font-weight: 900;
}
.menu-link {
  padding-right: 2rem;
}
nav .search {
  border: 2px solid white;
  padding: 0.2rem 0.5rem;
}
.search-input {
  height: 1.5rem;
  background-color: transparent;
  border: none;
  color: white;
}
.search-input:focus {
  outline: none;
}
.search-button {
  background-color: black;
  border: none;
  cursor: pointer;
}
.fa-search {
  color: white;
}
nav .left {
  display: flex;
  align-items: center;
}
nav .right {
  display: flex;
  color: white;
  height: 100%;
  align-items: center;
}
nav .right .cart {
  margin-right: 1rem;
}
nav .right .cart .fa-shopping-bag {
  padding-right: 0.5rem;
  font-size: 1.2rem;
}
nav .right .cart .cart-item-count {
  font-size: 0.9rem;
}
.slider-img {
  width: 90%;
}
.ant-list-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ant-card-cover {
  padding: 2rem;
}
.card {
  /* display: flex;
  flex-direction: column;
   */
  max-width: 20rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
}
.card:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.card img {
  text-align: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.card span {
  font-size: 1.2rem;
}
.content-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Product Page  */
.product-page {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.product-container {
  display: flex;
  width: 90%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}
.product-image {
  display: flex;
  align-items: center;
}
.product-property {
  padding: 0 5rem;
}
.product-property span {
  font-size: 1.5rem;
}
.product-name {
  font-size: 2rem;
}
.product-reviews {
  text-align: end;
  font-size: 1.5rem;
}
.product-btn {
  display: inline-block;
  border: none;
  background-color: burlywood;
  color: black;
  width: 75%;
  font-size: 1.5rem;
  font-weight: bold;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.product-amount {
  display: inline-block;
}
.product-amount button {
  border: none;
  padding: 1rem;
  height: 2rem;
  background-color: white;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}
.product-amount span {
  height: 4rem;
  padding: 0.5rem 1.1rem;
  border: 4px solid burlywood;
  border-radius: 0.7rem;
}
tbody {
  width: 100%;
}
td {
  width: 50%;
}
.remove-cart {
  border: none;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 2rem;
  font-weight: 700;
  cursor: pointer;
}
